body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: black;
}

#flipping-message {
    display: none;
    position: absolute; 
    top: 50px; 
    left: 50%;
    transform: translateX(-50%);
    background-color: teal; /* Background colour of flip message */
    color: white; /* Colour of message font */
    padding: 10px;
    border-radius: 5px;
    font-size: 48px;
    font-family: Verdana;
}

#result-message {
    display: none;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    background-color: teal; /* Background colour of flip message */
    color: white; /* Colour of message font */
    padding: 10px;
    border-radius: 5px;
    font-size: 48px;
    font-family: Verdana;
}

.coin {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    font-weight: bold;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s ease-in-out;
    margin-top: 50px;
    margin-bottom: 50px;
}

.side {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
}

#heads {
    transform: rotateY(0deg);
    color: white;
}

#tails {
    transform: rotateY(180deg);
    color: white;
}

button {
    margin-left: auto;
    margin-right: auto;
    display:block;
    padding: 10px 20px;
    font-size: 48px;
    border: none;
    background-color: #2ecc71;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    font-family: Verdana;
}

@keyframes flip-animation-heads {
    from { transform: rotateY(0deg); }
    to { transform: rotateY(1800deg); } /* Choose a rotation value to match the duration */
}

@keyframes flip-animation-tails {
    from { transform: rotateY(0deg); }
    to { transform: rotateY(1980deg); } /* Choose a rotation value to match the duration */
}

.side {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    background-color: transparent; /* Remove the background color */
}

#heads img,
#tails img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Scale images to fit the container while preserving aspect ratio */
}